{# {% extends "base.html.twig" %}


{% block title %}Shopping | Produit | Détails{% endblock %}

{% block body %}
    <h1 class="titre">Edit Produit</h1>
{% endblock %} #}


{% extends "base.html.twig" %}

{% block title%} Shopping | Produit  {% endblock %}

{% block body %}

<div class="contenu">

    <h1 class="titre">Produit</h1>
<div class="tableau">
    <table id="listes">
        <tr>
            <th>Identifiant</th>
            <th>Référence</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Prix</th>
            <th>Action</th>

        </tr>
        {# {% for produit in produits %} #}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.categorie }}</td>
                <td>{{ produit.prix }}</td>
                <td class="action"><a href="{{ path('app_edit', { 'id':produit.id }) }}">Editer</a><button class="supprimer">Supprimer</button></td>
            </tr>
        {% endfor %}
    </table>
</div>


</div>
{% endblock %}
