{% extends "base.html.twig" %}

{% block title%} e-Tsena | Produit  {% endblock %}

{% block body %}

<div class="contenu">

    <h1 class="titre">Produit</h1>
<div class="tableau">
    <table id="listes">
        <tr>
            <th>Id</th>
            <th>Reference</th>
            <th>Nom</th>
            <th>Categorie</th>
            <th>Prix</th>
            <th>Action</th>

        </tr>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.categorie }}</td>
                <td>{{ produit.prix }}</td>
                <td><button class="supprimer">Supprimer</button></td>
            </tr>
        {% endfor %}
    </table>
</div>
</div>

{% endblock %}
