{% extends "base.html.twig" %}

{% block title%} e-Tsena | Produit  {% endblock %}

{% block body %}

<div class="contenu">

    <h1 class="titre">Produit</h1>

    <table class="tableau">
        <th>
            <td>Id</td>
            <td>Référence</td>
            <td>Nom</td>
            <td>Catégorie</td>
            <td>Prix</td>
            {# <td>Action</td> #}
        </th>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.categorie }}</td>
                <td>{{ produit.prix }}</td>
                {# <td><button class="supprimer">Supprimer</button></td> #}
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
